@font-face {
  font-family: "montserratregular";
  src: url("fonts/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alex_brushregular";
  src: url("fonts/alexbrush-regular-webfont.eot");
  src: url("fonts/alexbrush-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/alexbrush-regular-webfont.woff2") format("woff2"), url("fonts/alexbrush-regular-webfont.woff") format("woff"), url("fonts/alexbrush-regular-webfont.ttf") format("truetype"), url("fonts/alexbrush-regular-webfont.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("fonts/kaushanscript-regular-webfont.eot");
  src: url("fonts/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/kaushanscript-regular-webfont.woff2") format("woff2"), url("fonts/kaushanscript-regular-webfont.woff") format("woff"), url("fonts/kaushanscript-regular-webfont.ttf") format("truetype"), url("fonts/kaushanscript-regular-webfont.svg#kaushan_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kalambold";
  src: url("fonts/kalam-bold-webfont.eot");
  src: url("fonts/kalam-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/kalam-bold-webfont.woff2") format("woff2"), url("fonts/kalam-bold-webfont.woff") format("woff"), url("fonts/kalam-bold-webfont.ttf") format("truetype"), url("fonts/kalam-bold-webfont.svg#kalambold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kalamlight";
  src: url("fonts/kalam-light-webfont.eot");
  src: url("fonts/kalam-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/kalam-light-webfont.woff2") format("woff2"), url("fonts/kalam-light-webfont.woff") format("woff"), url("fonts/kalam-light-webfont.ttf") format("truetype"), url("fonts/kalam-light-webfont.svg#kalamlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kalamregular";
  src: url("fonts/kalam-regular-webfont.eot");
  src: url("fonts/kalam-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/kalam-regular-webfont.woff2") format("woff2"), url("fonts/kalam-regular-webfont.woff") format("woff"), url("fonts/kalam-regular-webfont.ttf") format("truetype"), url("fonts/kalam-regular-webfont.svg#kalamregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "montserratregular";
}

h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

h4, h5 {
  padding-top: 3%;
  padding-bottom: 3%;
}

h3, h4, h5 {
  text-align: center;
}

ul {
  list-style-type: none;
}

header {
  background-color: #579c87;
  color: #fcca46;
  font-family: "montserratregular";
  font-size: 1.5em;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding-top: 10px;
  margin-bottom: 40px;
}
@media (max-width: 599px) {
  header {
    font-size: 1em;
  }
}
header img {
  height: 50px;
  width: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}
.menu .menu_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-top: 7%;
  padding-bottom: 7%;
  width: 80%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: #FDFFFD;
  color: #59AA48;
  font-size: 1.5em;
  font-family: "kalamlight";
}
.menu .menu_wrapper img {
  width: 6em;
}
.menu .menu_wrapper .liste {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.menu .menu_wrapper .liste .liste_plats {
  font-weight: lighter;
}

footer {
  background-color: #579c87;
  color: #fcca46;
  font-family: "montserratregular";
  font-size: 1.5em;
  letter-spacing: 0.1em;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 599px) {
  footer {
    font-size: 1em;
  }
}
footer .btn_wiggle {
  margin: 20px;
  cursor: pointer;
  animation: wiggle 3s infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-4deg);
  }
  4% {
    transform: rotate(4deg);
  }
  5% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=stylepalettegout.css.map */
