// Fonts
@import "./base/fonts";

// Variables
@import "./utils/variables";

// Mixins
@import "./utils/mixins";

// General

*{margin: 0; padding: 0;}

body {
    font-family: 'montserratregular';
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

h3 {
    width: 80%;
    height: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $colormenutext2;
    font-size: 2.5em;
    background: linear-gradient(to right, $colormenutext2 0%, #A165CB 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h4 {
    font-size: 1.5em;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
}
.underline--1 {
    @include underline ($colormenutext2);
    color: $colormenutext2;
}
.underline--2 {
    @include underline ($colormenutext2b);
    color: $colormenutext2b;
}
.underline--3 {
    @include underline ($colormenutext2c);
    color: $colormenutext2c;
}

.liste--1 {
    color: $colormenutext2;
}

.liste--2 {
    color: $colormenutext2b;
}
.liste--3 {
    color: $colormenutext2c;
}

.liste {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h3, h4{
    text-align: center;
}

ul{
    list-style-type: none;
}



// Header

header {
    @include maintheme;
    @include header;
    
}

// Menu

.menu {
    @include menulayout ($colormenu2, $colormenutext2, $fontmenu2a)
}



// Footer

footer {
    @include maintheme;
    @include footer;
       
}