// Fonts
@import "./base/fonts";

// Variables
@import "./utils/variables";

// Mixins
@import "./utils/mixins";

// General

*{margin: 0; padding: 0;}

body {
    @include body 
}

h3, h4{
    text-align: center;
}

h3 {
    width: 80%;
    height: 2.5em;
    padding: 1%;
    font-family: 'alex_brushregular';
    color: $colormenutext3;
    font-size: 2.5em;
    background: linear-gradient(to right, #0B2FDE 0%, $colormenutext3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h4 {
    font-size: 1.5em;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

// Header

header {
    @include maintheme;
    @include header;
}

// Menu

.menu {
    @include menulayout ($colormenu3, black, $fontmenu3a);
    .underline {
        @include underline (black);
    }
}

// Footer

footer {
    @include maintheme;
    @include footer;
}

// Specific to the page