@mixin maintheme {
    background-color: rgba($color: #569C87, $alpha: 1.0);
    color: rgba($color: #FCCA46, $alpha: 1.0);
    font-family: sans-serif;
}

.menugrid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    .menu_wrapper{
        border: 2px solid black;
        width: 300px;
        height: 450px;
        overflow: hidden;      /* hide the overflow */
        .menu{
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.5s ease;
            background: rgba($color: pink, $alpha: 0.5);
            &:hover{
                transform: scale(1.20);
                background: rgba($color: pink, $alpha: 1.0);
            }
        }
    }  
}

// .menu {
    //     background: green;
    //     margin: auto;
    //     margin-bottom: 35px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     cursor: pointer;
    //     transform: scale(1);
    //     transition-property: transform;
    //     transition: all 400ms;
    //     p{
    //         color: yellow;
    //     }
    //     &:hover {
    //         transform: scale(1.15);
    //         background-color: rgba($color: green, $alpha: 0.1);
    //     }
    // }

header {
    @include maintheme;
    text-align: center;
}

.btn_next {
    @include maintheme;
    width: 200px;
    height: 40px;

}

footer {
    @include maintheme;
    display: flex;
    justify-content: space-between;
}