@mixin maintheme {
    background-color: rgba($color: #569C87, $alpha: 1.0);
    color: rgba($color: #FCCA46, $alpha: 1.0);
    font-family: sans-serif;
}

.menugrid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    .menu_wrapper{
        border: 2px solid black;
        width: 300px;
        height: 450px;
        overflow: hidden;      /* hide the overflow */
        .menu{
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.5s ease;
            background: rgba($color: pink, $alpha: 0.5);
            &:hover{
                transform: scale(1.20);
                background: rgba($color: pink, $alpha: 1.0);
            }
        }
    }  
}

header {
    @include maintheme;
    text-align: center;
}

.next{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    .btn_next {
    @include maintheme;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    
    animation: wiggle 3s infinite;
    }
    @keyframes wiggle {
        0%{transform: rotate(0deg);}
        3%{transform: rotate(-2deg);}
        4%{transform: rotate(2deg);}
        5%{transform: rotate(0deg);}
        100%{transform: rotate(0deg);}
    }   
}
footer {
    @include maintheme;
    display: flex;
    justify-content: space-between;
}