// Fonts
@import "./base/fonts";

// Variables
@import "./utils/variables";

// Mixins
@import "./utils/mixins";

// General

*{margin: 0; padding: 0;}

body {
    font-family: 'montserratregular';
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    @media (max-width: 1200px) {
        font-size: 1.5em;
     }
    @media (max-width: 599px) {
       font-size: 1em;
    }
}

h3 {
    font-size: 3em;
    font-weight: lighter;
    @media (max-width: 1200px) {
        font-size: 2.25em;
     }
    @media (max-width: 599px) {
        font-size: 1.5em;
     }
}

// Header

header {
    @include maintheme;
    @include header;
}

// Section Grille 

.menugrid{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    padding: 20px;
    margin: auto;
    .menu_wrapper{
        box-shadow: 0px 0px 10px 5px rgba($color: #000000, $alpha: 0.2);
        width: 40%;
        height: 600px;
        margin-bottom: 30px;
        overflow: hidden;
        @media (max-width: 850px) {
            height: 400px;
        } 
        @media (max-width: 599px) {
            height: 250px;
        } 
    }  
}

.menutxt{
    width: 80%;
}

.menu--1{
    @include menu($colormenu1, $colormenutext1);
    font-family: 'yellowtailregular';
    & h3 { 
        font-family: 'kalamregular';
    }  
    & img {
        width: 6em;
        @media (max-width: 1200px) {
        width: 4.5em;
        }
        @media (max-width: 599px) {
        width: 3em;
        }
    }
}

.menu--2{
    @include menu($colormenu2, $colormenutext2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    & h2 {
        background: linear-gradient(to right, $colormenutext2 0%, $colormenutext2c 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
}

.menu--3{
    @include menu($colormenu3, $colormenutext3);
    & h2 {
        background: linear-gradient(to right, #0B2FDE 0%, $colormenutext3 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        font-family: 'alex_brushregular';
    }
    & h3 { 
        font-family: 'kalamregular';
    }  
}

.menu--4{
    @include menu($colormenu4, $colormenutext4);
    & h2 {
        background: linear-gradient(to right, $colormenutext4 0%, #A5E970 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        font-family: 'kaushan_scriptregular';
        
    }
    & h3 {
        font-family: 'kalamregular';
    }
}

// Section Prochainement

.next{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    margin-bottom: 40px;
    .btn_next {
    @include maintheme;
    width: 30%;
    height: 15%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .prochainement span {
        font-size: 2em;
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }
      .prochainement span:nth-child(2) {
        animation-delay: .2s;
      }
      
      .prochainement span:nth-child(3) {
        animation-delay: .4s;
      }
      
      @keyframes blink {
        0% {
          opacity: .2;
        }
        20% {
          opacity: 1;
        }
        100% {
          opacity: .2;
        }
      }
    }
}


footer {
    @include maintheme;
    @include footer;
}