// Fonts
@import "./base/fonts";

// Variables
@import "./utils/variables";

// Mixins
@import "./utils/mixins";

// General

*{margin: 0; padding: 0;}

body {
    font-family: 'montserratregular';
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

h3{
    width: 80%;
    font-family: 'Yellowtailregular';
    font-size: 4vw;
}

h4 {
    font-size: 1.5em;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

h5 {
    width: 80%;
    font-family: 'Yellowtailregular';
    font-size: 3vw;
    margin-top: 5%;
}

.img--top{
    height: 3em;

}

.img--bottom {
    height: 1em;
}

.underline {
    @include underline ($colormenutext1);
}

h3, h4, h5 {
    text-align: center;
}

ul{
    list-style-type: none;
}



// Header

header {
    @include maintheme;
    @include header;
}

// Menu

.menu {
    @include menulayout ($colormenu1, $colormenutext1, $fontmenu1a)
}



// Footer

footer {
    @include maintheme;
    @include footer;
}