// Fonts
@import "./base/fonts";

// Variables
@import "./utils/variables";

// Mixins
@import "./utils/mixins";

// General

*{margin: 0; padding: 0;}

body {
    @include body 
}

h3, h4, h5 {
    text-align: center;
}

h3{
    width: 80%;
    height: 2.5em;
    font-family: 'Yellowtailregular';
    font-size: 2.5em;
}

h4 {
    font-size: 1.5em;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

h5 {
    width: 80%;
    font-family: 'Yellowtailregular';
    font-size: 3vw;
    margin-top: 5%;
}

// Header

header {
    @include maintheme;
    @include header;
}

// Menu

.menu {
    @include menulayout ($colormenu1, $colormenutext1, $fontmenu1a);
    .underline {
        @include underline ($colormenutext1);
    }
}

// Footer

footer {
    @include maintheme;
    @include footer;
}

// Specific to the page

.img--top{
    height: 4em;
    margin-bottom: 3%;

}

.img--bottom {
    height: 1.5em;
    margin-right: -10%;
    margin-left: -10%;
    margin-bottom: -2%;
}