// Fonts
@import "./base/fonts";

// Variables
@import "./utils/variables";

// Mixins
@import "./utils/mixins";

// General

*{margin: 0; padding: 0;}

body {
    @include body 
}

// Header

header {
    @include maintheme;
    @include header;
    
}

// Menu

.menu {
    @include menulayout ($colormenu4, black, $fontmenu4a)
}

// Footer

footer {
    @include maintheme;
    @include footer;
       
}

// Specific to the page

h3 {
    width: 80%;
    height: 2.5em;
    font-family: 'kaushan_scriptregular';
    color: $colormenutext4;
    font-size: 2.5em;
    font-weight: lighter;
    background: linear-gradient(to right, $colormenutext4 0%, #A5E970 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h4 {
    font-size: 1.5em;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.underline {
    @include underline (black);
}

h3, h4{
    text-align: center;
}