// Fonts
@import "./base/fonts";

// Variables
@import "./utils/variables";

// Mixins
@import "./utils/mixins";

// General

*{margin: 0; padding: 0;}

body {
    font-family: 'montserratregular';
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

h3 {
    font-family: 'kaushan_scriptregular';
    color: $colormenutext4;
    font-size: 2.5em;
    margin-bottom: 6%;
}

h4 {
    font-size: 1.5em;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.underline {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: black;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
      }
    &:hover:before {
        visibility: visible;
        width: 100%;
    }
}

h3, h4{
    text-align: center;
}

ul{
    list-style-type: none;
}



// Header

header {
    @include maintheme;
    @include header;
    
}

// Menu

.menu {
    @include menulayout ($colormenu4, black, $fontmenu4a)
}



// Footer

footer {
    @include maintheme;
    @include footer;
       
}