$primarycolor:#579C87;
$secondarycolor:#FCCA46;

$colormenu1: #FCDFDB;
$colormenutext1: #3D1319;

$colormenu2: #FFF5FE;
$colormenutext2:#C67412;
$colormenutext2b:#A56799;
$colormenutext2c:#6E4CCC;



$colormenu3: #F9F9F9;
$colormenutext3: #187BF4;

$colormenu4: #FDFFFD;
$colormenutext4: #59AA48;

$fontmenu1a:'kalamregular';

$fontmenu2a:'Georgia, "Times New Roman", Times, serif';

$fontmenu3a:'kalamregular';
$fontmenu3b:'alex_brushregular';

$fontmenu4a:'kalamregular';
$fontmenu4b:'kaushan_scriptregular';